<h1>Template Driven Forms Features</h1>
<li>Easy to use</li>
 <li>Suitable for simple scenarios and fails for complex scenarios</li>
 <li>Similar to AngularJS</li>
 <li>Two way data binding(using [(NgModel)] syntax)</li>
 <li>Minimal component code</li>
 <li>Automatic track of the form and its data(handled by Angular)</li>
 <h1>Reactive Forms Features</h1>
 <li>More flexible, but needs a lot of practice</li>
 <li>Handles any complex scenarios</li>
 <li>No data binding is done</li>
 <li>More component code and less HTML markup</li>

 <h1>FormControl</h1>
 <p>It tracks the value of the controls and validates the individual control in the form.</p>
<h1>FormGroup</h1>
<p>Tracks the validity and state of the group of FormControl Instance or moreover, we can say the formgroup to be a collection of FormControls</p>
<h1>Form Builder</h1> 
<p>This helps us to develop the forms along with their initial value and there validations.</p>
<app-reactive-demo></app-reactive-demo>