<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title }}
  </h1>
</div>
<li>A service is a class with specific purpose</li>
<li>Used to Share the data across the application</li>
<li>Used to implement the application logic (eg: calculating student age using student DOB)</li>
<li>To avoid the usage of DRY(Do not repeat) concept</li>
<li>Used for the external connectivity(webservice, database)</li>
<h3>Steps to be followed on Service Creation</h3>
<li>Should follow the naming convention (eg: abcd.service.ts)</li>
<li>Create the service via cmd or manually</li>
<li>Define the service class in the created service</li>
<li>Register the created service on the basic of the DI concept</li>
<app-studen-list></app-studen-list>
<app-studen-details></app-studen-details>

